# Node / Next
node_modules/
.next/
out/
dist/
.build/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# Env (確保不會把金鑰和連線資訊上傳)
.env
.env.*
!.env.example
.env.local

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Misc
coverage/
.vercel/
.turbo/
